.ReactModalPortal > div {
	opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: opacity 0.2s ease-in-out;

	&--after-open {
		opacity: 1;
	}

	&--before-close {
		opacity: 0;
	}
}

.modal {
	max-width: 96vw;
	background-color: $primary-color;
	color: $dark-blue;
}

.exit-container {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.exit-button {
	margin: 1rem;
	text-decoration: none;
	text-align: center;
	font-size: 2rem;
	font-weight: bolder;
	color: $light-blue;
	background: none;
	border: none;
	cursor: pointer;
}

.add-error {
	width: 100%;
	height: 3rem;
	font-weight: bold;
	font-size: 1.25rem;
	text-align: center;
	color: red;
	margin: 1rem 0;
}

label {
	font-size: 1.25rem;
}
input[type="date"],
select {
	font-size: 1.25rem;
}

select {
	margin-left: 5px;
}

label[for="transactionName"] {
	margin-left: 28px;
}

input[type="text"],
input[type="number"] {
	height: 24px;
	border: 0;
	width: calc(100% - 18px);
	font-size: 1.25rem;
	background-color: rgba(250, 250, 250, 0.8);
	box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
	-webkit-transition: box-shadow 0.3s;
	transition: box-shadow 0.3s;
}
input[type="text"]:focus,
input[type="number"]:focus {
	outline: none;
	box-shadow: -8px 10px 0px -7px #4ea6ea, 8px 10px 0px -7px #4ea6ea;
}

.transaction-name {
	margin: 1rem;
}

.payment-method {
	margin: 1rem auto;
}

.add-transaction {
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__title {
		text-align: center;
		margin-bottom: 1rem;
		padding: 0 1rem 1rem 1rem;
	}

	& label {
		font-weight: bold;
		color: $dark-blue;
	}

	&__date {
		margin: 1rem auto;
		padding-left: 2rem;

		& input {
			width: 40vw;
		}
	}

	&__name {
		margin: 0.5rem;
	}

	&__amount {
		// display: inline-block;
		margin-left: 0.5rem;
		padding: 0 0.2em;
	}
}

.amount {
	width: 64vw;
	display: flex;
	justify-content: center;
	margin: 1rem auto;
}
